pkgbase = python-tensorboardx
	pkgdesc = Tensorboard for PyTorch
	pkgver = 2.5
	pkgrel = 2
	url = https://github.com/lanpa/tensorboardX
	arch = any
	license = MIT
	checkdepends = python-future
	checkdepends = python-pytest
	checkdepends = python-matplotlib
	checkdepends = python-crc32c
	makedepends = python-setuptools
	makedepends = git
	depends = python-numpy
	depends = python-protobuf
	depends = python-pytorch
	depends = python-soundfile
	conflicts = python-tensorboard-git
	source = https://files.pythonhosted.org/packages/source/t/tensorboardX/tensorboardX-2.5.tar.gz
	sha512sums = 54075b10dc61d9bf4730f4b723c33ecb11c1089cb9534cec9e53d5c14b8bc54d0dc93c2634ff955bb54a3acf41d2591c54fe92f05ebd24a71cf916d9e1867d71

pkgname = python-tensorboardx
